<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a href="{{ logoHref | default: 'index.html' }}"{% if logoTarget %} target="{{ logoTarget }}"{% endif %} class="d-flex align-items-center mapstore-logo">
            <img src="assets/mapstore.png" alt="Logo" class="me-2" style="height: 112px;">
            <span class="fs-3 fw-bold text-primary"><span style="color: var(--mapstore-blue);font-size: 52px;">Map</span><span style="color: var(--mapstore-green);font-size: 52px;">Store</span></span>
        </a>

        <div class="navbar-actions d-flex align-items-center gap-3">
            <a href="https://github.com/geosolutions-it/MapStore2" target="_blank" class="github-link" title="Click to see github repo">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://mapstore.geosolutionsgroup.com/mapstore/#/" class="btn btn-warning fw-semibold px-4">Try the Demo</a>
        </div>
    </div>
</nav>
